body{
    background-size: cover;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    font-family: fantasy;
}

#start,#objects{
    font-size: 20px;
    font-family: monospace;
}

.footer{
   bottom: 0;
   text-align: center;
   position: fixed;
   background-color: aqua;
   width: 100%;
   color: azure;
   line-height: 2;
   margin-top: 40px;
   
}
canvas{
    box-shadow: 5px 5px 5px rgb(47, 174, 242);
    border-radius: 15px;
    margin-top: 130px;
    border:2px dotted rgb(43, 162, 226);
}